* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

header {
  border: solid 1px black;
  background-color: aqua;
  width: fit-content;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 40px;
}
.nav {
  background-color: #333;
  overflow: hidden;
  /* position: fixed; */
  width: 100%;
}

img {
  float: right;
  margin-right: 25px;
  margin-top: 15px;
  height: 150px;
  width: 150px;
}

a {
  font-size: 20px;
}

.nav a {
  color: #ffffff;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  float: right;
}

.nav a:hover {
  color: black;
  background-color: #f1f1f1;
}

.nav li {
  color: #ffffff;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

.midsection {
  background-color: lightcoral;
  background-image: url("../1.jpg");
  background-size: stretch;
  width: 100%;
  height: 180px;
}

h3 {
  float: right;
  margin-top: 125px;
  margin-right: 5px;
  background-color: aqua;
  padding: 10px;
  font-size: large;
}

.container {
  margin-top: 20px;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.section {
  flex: 1;
  padding-right: 20px;
  padding-left: 20px;
  align-self: center;
}

.section h4 {
  text-align: right;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.projects h4 {
  /* background-color: greenyellow; */
  float: left;
  color: #ffffff;
  font-size: 25px;
  margin-top: 350px;
  height: 30px;
  margin-left: 10px;
}
.topbox h4, .lowerbox h4 {
  /* background-color: #333; */
  float: left;
  color: #ffffff;
  font-size: 20px;
  margin-top: 55px;
  margin-left: 5px;
}

.aside {
  flex: 7;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-content p {
  text-align: left;
}

.projects {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  padding: 10px;
}

.project1 {
  flex: 5;
  border: solid 2px #333;
  background-image: url("../brown.jpeg");
  background-size: cover;
  display: block;
  box-shadow: 5px 10px 18px #888888
}

.topbox {
  display: flex;
  flex-direction: row;
  min-height: 15vh;
  margin: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 3;
}


.project2, .project3 {
  background-image: url(../blue.jpeg);
  background-size: contain;
  border: solid 2px #333;
  flex: 1;
  margin: 5px;
  box-shadow: 5px 10px 18px #888888
}

.lowerbox {
  display: flex;
  flex-direction: row;
  min-height: 15vh;
  /* padding: 0px; */
  margin: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 3;
}

.project4, .project5 {
  background-image: url(../silver.jpeg);
  background-size: cover;
  border: solid 2px #333;
  flex: 1;
  margin: 5px;
  box-shadow: 5px 10px 18px #888888
}


.links{ 
  display: flex;
  justify-content: space-evenly;
}

footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  font-size: 25px;
}

